.header{background-color:red;height:150px;}
.footer{background-color:black;height:150px; width:100%}
.nav{background-color:yellow; height:150px; width:30%;float:left;}
.content{background-color:green;height:150px;}